.dashboard .produto {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  }

  .dashboard .product{
    width: 25%;
    text-align: center;
    margin: 0px 0px 7px;
  }

  .dashboard .product_item {
    width: 99%;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    display: inline-block;
  }

  .dashboard .product_item h2 {
      font-size: 16px;
      line-height: 18px;
      height: 36px;
      overflow: hidden;
  }

  .dashboard .product_item .btn_car{
    background-color: #282c34;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 7px;
    color: black;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  .dashboard .addcart {
    background-color: #282c34;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 7px;
    color: rgb(244, 240, 240);
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 